.button{
    background-color: transparent;
    border-radius: 10px;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.6s ease;
    color:#FDF6E3 ;
    gap:5px;
}
.button:hover {
    background-color: rgba(0, 0, 0, 0.4) ;
}

.Sbutton{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.6s ease;
    color:#FDF6E3 ;
    gap:5px;
    width: 160px;
    font-size: 14px;
    font-weight: 900;
}
.Sbutton:hover {
    background-color: rgba(0, 0, 0, 0.7) ;
}


.Ibutton{
    background-color: transparent;
    border-radius: 30%;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    transition: background-color 0.6s ease;
}
.Ibutton:hover {
    background-color: rgba(0, 0, 0, 0.6);

}