
  .title{
    padding-block: 20px;
    text-align: center;
  }

  
  .swiper {
    width: 70%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #FDF6e3;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .swiper-button-next,
  .swiper-button-prev {
    color: black;
    font-weight: bold;
  }
  .swiper-pagination-bullet-active {
    background: #000;   /* розовая, например */
    transform: scale(1.2); /* чуть больше активная точка */
  }
  